version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      - NODE_ENV=production
    volumes:
      - dbdata:/data
    command: sh -c "/usr/local/bin/init_db.sh && npm start"
    

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs
    depends_on:
      - backend

volumes:
  dbdata:

